h2{
    text-align: center;
    padding: 20px 0 20px 0;
}

.profile-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 100;
    transition: 0.5s ease-in-out;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #e9e9e9;
}

main{
    width: 40%;
    margin-left: 30%;
}
.section-title {
    text-align: center;
    margin-top: 20px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.password-form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container {
    background-color: #fff;
    padding: 2rem;
    width: 40%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.password-container .helper-text {
    margin: 0.7rem 0 1.5rem 0;
    color:red;
}
  
.input-group {
    width: 100%;
    margin-bottom: 1.2rem;
    text-align: left;
}
  
.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #666;
}
  
.input-group input {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}
  
#modify-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
#modify-button:hover{
    cursor: pointer;
}
  
.error-message {
    text-align: left;
    color: red;
    font-size: 0.8em;
    height: 1em;
    margin-top: -10px;
    margin-bottom: 30px;
}
